.App {
  text-align: center;
  background-color: #262626;
  color: #FFF;
  font-size: 1em;
  width: 100%;
}



.PageFixedTop {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10000;
}




.PageHeader {
  background-color: #0B0B0B;
  font-family: Bungee;
  font-size: 3em;
  line-height: 2em;
  font-weight: 400;
  padding: 0.1em;
  padding-left: 0.5em;
  text-align: left;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

.PageHeaderLogo {
  display: inline-block;
  height: 1.5em;
  width: auto;
  vertical-align: middle;
}



.helperVerticalCenter {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}


.PageFooter {
  background-color: #000;
  width: 100%;
  height: 2em;
  line-height: 2em;
  margin: 0;
}

.PageFooterLogo {
  width: auto;
  height: 1.5em;
  margin-right: 0.5em;
  vertical-align: middle;
}

.FooterLink {
  cursor: pointer;
}

.FooterLink:link, .FooterLink:visited, .FooterLink:hover, .FooterLink:active {
  color: #0091FF;
  text-decoration: none;
}

.FooterLeft {
  color: #4D4D4D;
  position: absolute;
  left: 0;
  margin-left: 1em;
  line-height: 2em;
  display: flex;
}

.FooterRight {
  color: #0091FF;
  position: absolute;
  right: 0;
  margin-right: 1em;
  width: 50%;
  display: flex;
  justify-content: space-between;
}


.MainToolbar {
  background-color: #191919;
  height: 2em;
  margin: 0;
  text-align: right;
  width: 100%;
}

.MainToolbarSectionTitle {
  text-align: right;
  color: #0091FF;
}

.MainToolbarSectionSearch {
  line-height: 2em;
  margin-right: 1em;
}







.MainBodyWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  margin-top: 8em;
}

.MainBody{
  margin: 0;
  width: 90%;
  max-width: 1200px;
}


.SectionHeader{
  font-size: 1.5em;
  position: relative;
  width: 100%;
  height: 2em;
  padding: 1em 0 1em;
}

.SectionTitle {
  color: #0091FF;
  text-align: left;
  font-weight: 400;
  display: inline-block;
  position: absolute;
  left: 0;
  margin: 0;
}

.SectionTitleSplit{
  color: #333;
  margin-left: 0.7em;
  margin-right: 0.7em;
}

.SectionHeaderFilter{
  font-size: 0.7em;
  color: #0091FF;
  position: absolute;
  right: 0;
}

.SectionTitleClickable:link, .SectionTitleClickable:visited, .SectionTitleClickable:hover, .SectionTitleClickable:active {
  color: #666;
  text-decoration: none;
}

.SectionHeaderInformation{
  font-size: 0.8em;
  color: #999;
  position: absolute;
  right: 0;
}


.CompaniesGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.CompanyTile {
  width: 15%;
  float: left;
  margin-bottom: 1em;
  overflow: hidden;
  text-align: left;
}

.CompanyTileIconWrapper {
  width: 100%;
  padding-bottom: 100%;
  background-color: #545454;
  border-radius: 10px;
  margin-bottom: 0.5em;
  cursor: pointer;
  position: relative;
}

.CompanyTileIcon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  position: absolute;
}

.CompanyTileName {
  color: #fff;
  font-weight: 700;
  text-align: left;
}

.CompanyTileViewsCount {
  color: #aaa;
  font-size: 0.75em;
  display: inline;
}

.TileViewerImage{
  width: auto;
  height: 0.75em;
  margin-right: 0.2em;
}



.CompanyDescription {
  text-align: justify;
  margin-bottom: 2em;  
}

.GameTile {
  width: 15%;
  float: left;
  margin-bottom: 1em;
  overflow: hidden;
  text-align: left;
}

.GameTileIconWrapper {
  width: 100%;
  padding-bottom: 100%;
  background-color: #2d405e;
  border-radius: 10px;
  margin-bottom: 0.5em;
  cursor: pointer;
  position: relative;
}

.GameTileIcon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  position: absolute;
}

.GameTileName {
  color: #fff;
  font-weight: 700;
}

.GameTileViewsCount {
  color: #aaa;
  text-align: left;
  font-size: 0.75em;
  display: inline;
}


.UserTile {
  width: 15%;
  float: left;
  margin-bottom: 1em;
  overflow: hidden;
  text-align: left;
}

.UserTileIconWrapper {
  width: 100%;
  padding-bottom: 100%;
  background-color: #2d405e;
  border-radius: 10px;
  margin-bottom: 0.5em;
  cursor: pointer;
  position: relative;
}

.UserTileIcon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  position: absolute;
}

.UserTileName {
  color: #fff;
  font-weight: 700;
}

.UserTileViewsCount {
  color: #aaa;
  text-align: left;
  font-size: 0.75em;
  display: inline;
}


.SingleGamePageDescription {
  width: 60%;
  float: right;
  text-align: justify;
}

.SingleGamePageIconWrapper {
  display: inline-block;
  max-width: 30%;
}

.SingleGamePageIcon {
  max-width: 100%;
}



.SingleStreamerPageDescription {
  width: 60%;
  float: right;
  text-align: justify;
}

.SingleStreamerPageIconWrapper {
  display: inline-block;
  max-width: 30%;
}

.SingleStreamerPageIcon {
  max-width: 100%;
}


.FwdBrowsingDrawers {
  width: 100%;
  margin-top: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.FBDrawer {
  background-color: #4D4D4D;
  color: #aaa;
  line-height: 2em;
  height: 2em;
}

.FBDrawerFour{
    width: 22%;
}

.FBDrawerThree{
    width: 31%;
}

.FBDrawer>img{
  height: 1.8em;
}

.FBDrawer:link, .FBDrawer:visited, .FBDrawer:hover, .FBDrawer:active {
  text-decoration: none;
}


.LoadMoreButton{
  display: inline-block;
  padding: 0.5em;
  margin: 0em 1em;
  background-color: #0091FF;
  border-radius: 0.75em;
  cursor: pointer;
}




.ChartArea {
  width: 100%;
}

.MainChart
{
  width: 100%;
  max-width: 1200px;
  height: calc(100vh / 3);
}

.MainChartButtons {
  width: 100%;
  margin-top: 0.5em;
}

.MainChartButton
{
  display: inline-block;
  width: 5em;
  padding: 0.5em;
  margin: 0em 1em;
  background-color: #000;
  border-radius: 0.75em;
  cursor: pointer;
}

.MainChartButtonSelected {
  background-color: #0091FF;
}

.ModalPolicyDialog {
    position: absolute;
    top: 10em;
    left: 2em;
    right: 2em;
    bottom: 2em;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 2em;
}

.ModalPolicy {
  font-size: 1em;
}

.ModalPolicyTitle {
  font-size: 2em;
  font-weight: 700;
}

.ModalPolicyCloseButton {
  font-size: 2em;
  position: absolute;
  right: 1em;
  cursor: pointer;
}

.ChartTitle {
  color: #0091FF;
  text-align: left;
  font-weight: 400;
}


.NoPointerCursor {
  cursor: inherit;
}

@media only screen and (max-width:800px) {
  .App{
    font-size: 0.8em;
  }

  .MainBody{
    margin: 0;
    width: 100%;
  }

  .Carousel {
    padding: 1em;
  }

  .CompanyTile {
    width: 30%;
  }  

  .GameTile {
    width: 30%;
  }  

  .UserTile {
    width: 30%;
  }  

  .ModalPolicyDialog {
    top: 8em;
  }

  .ModalPolicy {
    font-size: 0.7em;
  } 

  .SectionHeader {
    height: 4em;
    padding: 0.5em 0 0.5em;
  }

  .SectionHeader br {
    display: none;
  }

  .SectionTitle {
    text-align: center;
    position: inherit;
  }

  .SectionHeaderInformation {
    position: inherit;
    padding: 0.3em 0 0.3em;
  }

  .SectionHeaderFilter{
    position: inherit;
  }

  .MainChart {
    height: calc(100vh / 4);
  }

  .MainChartButton{
      margin-bottom: 0.5em;
  }
}


@media only screen and (max-width:400px) {
  .App{
    font-size: 0.7em;
  }

  .PageHeader {
    font-size: 2.5em;
    line-height: 2em;
  }  
}
