.App {
  text-align: center;
  background-color: #262626;
  color: #FFF;
  font-size: 1em;
  width: 100%;
}



.PageFixedTop {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10000;
}




.PageHeader {
  background-color: #0B0B0B;
  font-size: 3em;
  line-height: 2em;
  font-weight: 700;
  padding: 0.1em;
  padding-left: 0.5em;
  text-align: left;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

.PageHeaderLogo {
  display: inline-block;
  height: 1.5em;
  width: auto;
  vertical-align: middle;
}






.PageFooter {
  background-color: #000;
  width: 100%;
  height: 2em;
  line-height: 2em;
  margin: 0;
}

.FooterLink {
  cursor: pointer;
}

.FooterLink:link, .FooterLink:visited, .FooterLink:hover, .FooterLink:active {
  text-decoration: none;
}

.FooterLeft {
  color: #0091FF;
  position: absolute;
  left: 0;
  margin-left: 1em;
}

.FooterRight {
  color: #0091FF;
  position: absolute;
  right: 0;
  margin-right: 1em;
}

.FooterCenter {
  color: #545454;
}





.MainToolbar {
  background-color: #191919;
  height: 2em;
  margin: 0;
  text-align: right;
  width: 100%;
}

.MainToolbarSectionTitle {
  text-align: right;
  color: #0091FF;
}

.MainToolbarSectionSearch {
  line-height: 2em;
  margin-right: 1em;
}







.MainBodyWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  margin-top: 8em;
}

.MainBody{
  margin: 0;
  width: 90%;
  max-width: 1200px;
}

.SectionTitle {
  color: #0091FF;
  text-align: left;
  font-weight: 400;
}



.CompaniesGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.CompanyTile {
  width: 15%;
  float: left;
  margin-bottom: 1em;
  overflow: hidden;
}

.CompanyTileIconWrapper {
  width: 100%;
  padding-bottom: 100%;
  background-color: #545454;
  border-radius: 10px;
  margin-bottom: 0.5em;
  cursor: pointer;
  position: relative;
}

.CompanyTileIcon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  position: absolute;
}

.CompanyTileName {
  color: #fff;
  font-weight: 700;
  text-align: left;
}

.CompanyTileViewsCount {
  color: #aaa;
  text-align: left;
  font-size: 0.75em;
}





.GameTile {
  width: 15%;
  float: left;
  margin-bottom: 1em;
  overflow: hidden;
}

.GameTileIconWrapper {
  width: 100%;
  padding-bottom: 100%;
  background-color: #2d405e;
  border-radius: 10px;
  margin-bottom: 0.5em;
  cursor: pointer;
  position: relative;
}

.GameTileIcon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  position: absolute;
}

.GameTileName {
  color: #fff;
  font-weight: 700;
  text-align: left;
}

.GameTileViewsCount {
  color: #aaa;
  text-align: left;
  font-size: 0.75em;
}





.GamePageIconWrapper {
  max-width: 100%;
}

.GamePageIcon {
  max-width: 100%;
}






.LoadMoreButton{
  display: inline-block;
  padding: 0.5em;
  margin: 0em 1em;
  background-color: #0091FF;
  border-radius: 0.75em;
  cursor: pointer;
}




.ChartArea {
  width: 100%;
}

.MainChart
{
  width: 100%;
  max-width: 1200px;
  height: calc(100vh / 3);
}

.MainChartButtons {
  width: 100%;
  margin-top: 0.5em;
}

.MainChartButton
{
  display: inline-block;
  width: 5em;
  padding: 0.5em;
  margin: 0em 1em;
  background-color: #000;
  border-radius: 0.75em;
  cursor: pointer;
}

.MainChartButtonSelected {
  background-color: #0091FF;
}

.ModalPolicy {
  font-size: 1em;
}

.ModalPolicyTitle {
  font-size: 2em;
  font-weight: 700;
}

.ModalPolicyCloseButton {
  font-size: 2em;
  position: absolute;
  right: 1em;
}





@media only screen and (max-width:800px) {
  .App{
    font-size: 0.8em;
  }

  .MainBody{
    margin: 0;
    width: 100%;
  }

  .Carousel {
    padding: 1em;
  }

  .CompanyTile {
    width: 30%;
  }  

  .GameTile {
    width: 30%;
  }  

  .ModalPolicy {
    font-size: 0.7em;
  } 
}


@media only screen and (max-width:400px) {
  .App{
    font-size: 0.7em;
  }
}
