.body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: #fff;
}

.ranked-list h2{
  font-weight:700;
  text-transform:uppercase;
  text-align:center
}
.ranked-list .selectoid.v0{
  margin-bottom:10px
}
.ranked-list .selectoid.v0>*{
  margin:0 .3em .3em 0;
  padding:.2em .6em .2em .5em;
  border-radius:15px;
  color:#728ba2;
  font-weight:700;
  text-decoration:none!important;
  letter-spacing:.3px
}
.ranked-list .selectoid.v0>*.active,.ranked-list .selectoid.v0>*:hover{
  background-color:#425167;
  color:#fff
}
.ranked-list .selectoid.v0{
  margin-top:25px
}
.ranked-item{
  width:100%;
  height:70px;
  display:flex;
  flex-direction:row;
  overflow:hidden;
  margin:0 auto 9px;
  line-height:1;
  background-color:#f2f6f9;
  cursor:pointer
}
.ranked-item:hover{
  box-shadow:0 0 5px 1px #cfd9da
}
.ranked-item small{
  color:#b4bcc2
}
.ri-position,.ri-rank{
  align-items:center;
  justify-content:center;
  color:#828282;
  font-weight:700
}
.ri-rank{
  background:#ffeead
}
.ri-image{
  overflow:hidden;
  align-items:center;
  justify-content:center;
  width:70px;
}
.ri-image img{
  width:70px;
  background-color:#f2f6f9;
  border-style: groove;
}

.ri-name{
  vertical-align: middle;
  display: table-cell;
  flex:1 1;
  align-items: center;
  justify-content: center;
}

.ri-value {
  flex: 0 0 100px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  letter-spacing: 1px;
  font-weight: 700;
}
